.services {
    background: #fff;
    border-radius: 12px;
    border: 3px solid #D8E8F8;
    margin-bottom: 20px;
}

.services .title {
    padding: 14px 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #092E5B;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.services .header {
    padding: 14px 18px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #092E5B;
}

@media (max-width: 1100px) { .services .header { display: none; } }

.services .header div:first-child {
    flex: 50%;
}

.services .header div:nth-child(2) {
    flex: 50%;
    display: flex;
}

.services .header div:nth-child(2) span {
    flex: 1;
    text-align: center;
}

.services .noOrders {
    border: 3px solid #0E4D9A;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    text-align: center;
    color: #0E4D9A;
    font-weight: 700;
}

.services .orders {
    position: relative;
}

.services .orders .resume {
    display: flex;
}

.services .orders .resume .orderNumber {
    flex: 70%;
    padding: 10px;
}

.services .orders .resume .orderNumber label {
    font-weight: 700;
    font-size: 1.2rem;
}

.services .orders .resume .orderNumber .orderDetails {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px;
}

.services .orders .resume .status {
    flex: 30%;

    display: flex;
    justify-content: space-between;
    gap: 10px;

    padding: 10px;
}

.services .orders .resume .status button,
.services .orders .resume .status label {
    
    border-radius: 10px;
    width: 50%;
    text-align: center;
    padding: 3px;
    font-size: 0.8rem;
    font-weight: 700;
}

.services .orders .resume .status button {
    border: 3px solid #0E4D9A;
    background-color: #D8E8F8;
    cursor: pointer;
}

.services .orders .resume .status .billNotAvailable {
    border: 3px solid #F8C43E;
    background-color: #FFF0B3;
}

.services .orders .resume .status .billPayed {
    border: 3px solid #00A06F;
    background-color: #B8DED3;
    color: #006E48;
}

.services .orders .resume .status .canceled {
    border: 3px solid #BD2B26;
    background-color: #FF9E94;
    color: #BD2B26;
}

.services .orders .details {

    border: 3px solid #4F7FB8;
    border-radius: 10px;
    
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}



























/*.services .orders div:first-child {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.services .orders .orderNum {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #092E5B;
}

.services .orders .addressList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    
}

.services .orders .ordersAddr {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #7f8892;
}

.services .orders div:nth-child(2) {
    flex: 50%;
    display: flex;
    padding: 5px 0;
    font-size: 0.975rem;
}

.services .orders div:nth-child(2) h1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

.services .orders div:nth-child(2) h1:first-child .details {
    position: absolute;
    top: 100%; /* ✅ En bas du .orders 
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    padding: 16px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 12px;

    z-index: 10; /* ✅ Augmente z-index 
}

@media (max-width: 1000px) { 
    .services .orders div:nth-child(2) h1:first-child .details { 
        top: 90%; 
        width: 75%;
    } 
}

@media (max-width: 550px) { 
    .services .orders div:nth-child(2) h1:first-child .details { 
        top: 75%; 
        width: 90%;
    } 
}

.services .orders div:nth-child(2) h1:first-child .details .productList {
    text-align: left;
}

@media (max-width: 550px) { .services .orders div:nth-child(2) h1:nth-child(3) { display: none; } }

.services .orders div:nth-child(2) h1 .seeDetails {
    border: 2px solid #0E4D9A;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1px 7px;
    border-radius: 10px;
    background-color: #D8E8F8;
    cursor: pointer;
    width: 150px;
}

.services .orders div:nth-child(2) h1 .pending {
    border: 2px dashed #0E4D9A;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1px 7px;
    border-radius: 10px;
    background-color: #D8E8F8;
    cursor: pointer;
    width: 150px;
    position: relative;
}

.services .orders div:nth-child(2) h1 .pendingActive {
    border: 2px solid green;
    color: green;
    background-color: #d8f8d9;
}

.services .orders div:nth-child(2) h1 .canceled {
    border: 2px solid red;
    color: red;
    font-size: 0.8rem;
    font-weight: 900;
    padding: 1px 7px;
    border-radius: 10px;
    background-color: #f8d8d8;
    width: 150px;
    position: relative;
}

.services .orders div:nth-child(2) h1 .done {
    border: 2px solid green;
    color: green;
    font-size: 0.8rem;
    font-weight: 900;
    padding: 1px 7px;
    border-radius: 10px;
    background-color: #d8f8d9;
    width: 150px;
    position: relative;
}

.services .orders div:nth-child(2) h1 .cancel {
    position: absolute;
    border: 3px solid #0E3A8C;
    background-color: #D8E8F8;
    top: 60px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    gap: 5px;

    display: flex;
    align-items: center;

    z-index: 10; /* ✅ Augmente z-index 
}

@media (max-width: 1800px) { 
    .services .orders div:nth-child(2) h1 .cancel { 
        top: 80%; 
    } 
}

@media (max-width: 1100px) { 
    .services .orders div:nth-child(2) h1 .cancel { 
        top: 90%; 
    } 
}

@media (max-width: 550px) { 
    .services .orders div:nth-child(2) h1 .cancel { 
        top: 75%; 
        left: 50%;

        width: 90%;
        transform: translateX(-50%);
    } 
}

.services .orders div:nth-child(2) h1 .cancel button {
    border: 2px solid red;
    background-color: rgb(254, 191, 191);
    width: 90%;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 5px 7px;
    border-radius: 10px;
}

.services .orders div h1 .isNotPayed,
.services .orders div h1 .isPayed {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1px 7px;
    border-radius: 10px;
    width: 150px;
}

.services .orders div h1 .isNotPayed {
    background-color: #fff0b3;
    border: 2px dashed #f8c239;
    cursor: pointer;
}

.services .orders div h1 .isPayed {
    border: 2px solid green;
    color: green;
    background-color: #d8f8d9;
}

.services .orders div:nth-child(2) div:first-child {
    color: red;
    display: none;
}

@media (max-width: 1100px) { .services .orders { display: block; } }

.services .orders div:nth-child(3) {
    display: flex;
    padding: 5px 0;
    justify-content: center;
}

@media (min-width: 550px) { .services .order div:nth-child(3) { display: none; } }*/