.mainContainer {
  margin: 0 auto;
  padding: 50px 0;
  width: 60%;

  display: flex;
  gap: 10px;
}

@media (max-width: 1650px) { .mainContainer { width: 80%; } }
@media (max-width: 1300px) { .mainContainer { width: 95%; } }
@media (max-width: 1000px) { .mainContainer { flex-direction: column; } }

.mainContainer .empty {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mainContainer .empty label {
  font-weight: 700;
  font-size: 1.2rem;
}

.mainContainer .empty .redirections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 10px;
}

@media (max-width: 1000px) { .mainContainer .empty .redirections { grid-template-columns: 1fr; } }

.mainContainer .empty .redirections a {
  white-space: nowrap;
  padding: 5px 20px;
  text-align: center;
  color: #0E4D9A;
  font-weight: 700;
  border: 3px solid #0E4D9A;
  border-radius: 10px;
  text-decoration: none;
}

.mainContainer .cartItems {
  flex: 3;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainContainer .cartItems .items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mainContainer .checkout {
  flex: 1;
}