.mainContainer .credentials {
    
    flex: 2;   
    border: 1px solid #C5D8EF;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.mainContainer .credentials .header label {
    font-family: 'Inter', sans-serif;
    color: #5F7FA8;
}