.credentials {
    border: 1px solid #C5D8EF;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    text-align: center;
    
}

@media (max-width: 1650px) { .credentials { width: 80%;font-size: 14px; } }
@media (max-width: 1300px) { .credentials { width: 95%; } }

.credentials .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D8E8F8;
}

.credentials .header label {
    font-family: 'Inter', sans-serif;
    color: #5F7FA8;
}

.credentials .header h3 {
    font-size: 1.6rem;
}