.test {
    margin: 0 auto;
    width: 97%;
    border: 3px solid #0E4D9A;
    /*background-color: rgb(232 241 251 / 0.1);*/
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
}

.fieldset {
    margin-bottom: 10px;
}

.fieldset .legend {
    font-size: 1.2rem;
    color: #5F7FA8;
    font-weight: 900;
}

.fieldset .userChoice {
    margin: 10px 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.fieldset .userChoice label {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    font-size: 0.8rem;
    color: black;
    border-radius: 10px;
    border: 2px solid #0E4D9A;
}

.fieldset .userChoice label input {
    display: none;
}

.fieldset .userChoice label.checked {
    background-color: #E8F1FB;
}

.fieldset .specialInstructions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 50px;
    margin-top: 20px;
}

.fieldset .specialInstructions .addonsInstruction {
    border: 3px solid #FFA500;
    border-radius: 10px;
    text-align: center;
    color: #876816;
    background-color: #FFEECF;
    font-size: 1.2rem;
    
}

.fieldset .specialInstructions label {
    font-weight: 900;
}

.fieldset .specialInstructions textarea {
    border-radius: 10px;
    border: 2px solid #0E4D9A;

    padding: 10px;
}

.fieldset .materialDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 50px;
    margin-top: 20px;
}

.fieldset .materialDetails label {
    font-weight: 900;
}